.myphoto {
  height: 200px;
  width: auto;
  float: right;
}

.list-group li {
  background-color: gray;
}

.list-group li a {
    color: white;
}

.right {
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
  color: black;
  font-size: 15px;
}

.well-lg {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.panel-default > .panel-heading {
  background-color: #6b727f;
}

.panel-heading {
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-align: center;
}

.aboutme {
  font-size: 18px;
  font-style: italic;
  color: black;
  text-align: center;
}

.myprojects {
  font-size: 18px;
  font-style: italic;
}

ol {
  margin-left: -20px;
  margin-right: 20px;
}

.btn {
  width: 200px;
  margin: auto;
}
